header {
    background-color: #244751;
    color: #E8FDFF;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: whitesmoke;
}
Main{
    background-color: white;
    padding: 16px;
}
.finstagram-post {
    Margin-bottom: 48px;
}
.finstagram-post .user-info img {
    Border-radius: 50%;
}
a.photo{
    Transition: padding 0.5s;
}
a.photo:hover{
    padding: 10px;c
}